body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "J J P"
  "R V P"
  "R O O";
  padding: 10px;
}

div:nth-child(1) {
  grid-area: J;
  background: yellow;
  margin: 10px;
}
div:nth-child(2) {
  grid-area: P;
  background: purple;
  margin: 10px;
}
div:nth-child(3) {
  grid-area: V;
  background: green;
  margin: 10px;
}
div:nth-child(4) {
  grid-area: R;
  background: red;
  margin: 10px;
}
div:nth-child(5) {
  grid-area: O;
  background: orchid;
  margin: 10px;
}
